:root {
  --container-lg: 1920px;
  --container-md: 1550px;
  --container-sm: 1150px;

  --color-primary: #4F46E5;
  --color-light-blue: #3878D7;
  --color-slate-blue: #585583;
  --color-danger: #CC0000;
  --color-dark: #2E3338;
  --color-border: #D8DBDF;
  --color-white: #FFF;
  --color-border-dark: #C7CCD1;
  --color-olive-green: #798E57;
  --color-slate-blue-grey: #4E7482;
  --color-charcoal-grey: #2E3338;
  --color-tawny-brown: #8D6850;
  --color-forest-green: #568A66;
  --color-rust-orange: #AF5636;
  --color-royal-purple: #6E4D7C;
  --color-mint-green: #C6F0CC;
  --color-peach-yellow: #FFD48F;
  --color-light-grey: #F1F2F4;
  --color-soft-grey: #F9FAFA;
  --color-charcoal-blue: #17191C;
  --color-pale-lavender: #EBEAFF;
}