.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__search-unit {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #B3BAC1;
  }

  &__search {
    display: flex;
    gap: 8px;
    align-items: flex-end;

    svg {
      top: 45px;
      left: 20px;
    }

    label {
      display: block;
      margin-bottom: 8px;
      color: var(--color-charcoal-blue);
    }

    input {
      padding: 15px 48px;
      border-radius: 12px;
      border: 1px solid var(--color-border);
      max-width: 400px;
      width: 100%;
      margin-right: 8px;

      &::placeholder {
        color: #C7CCD1;
        font-family: "Poppins", serif;
        font-size: 16px;
      }
    }

    .button {
      border-radius: 8px;
      padding: 11px 40px;
      display: inline-block;
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;

    button {
      gap: 8px;
      padding: 12px 20px;

      span {
        font-weight: 500;
      }
    }
  }
}