* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
}