.container-lg {
  max-width: var(--container-lg);
  margin-inline: auto;
}

.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide { display: none; }
.show { display: block; }
.pointer { cursor: pointer; }
.absolute { position: absolute; }
.relative { position: relative; }
.text-center { text-align: center; }
.justify-end { justify-content: flex-end; }
.justify-start { justify-content: flex-start; }